name: build-test
on: [push, pull_request]
jobs:
  #  smoke:
  #    name: smoke
  #    timeout-minutes: 10
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v3
  #      - name: Set up JDK 11
  #        uses: actions/setup-java@v3
  #        with:
  #          java-version: '11'
  #          distribution: 'temurin'
  #      - name: Build with Maven
  #        run: mvn clean install -DskipTests -Dci --batch-mode -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
  javascript:
    name: javascript
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build with Maven
        run: |
          mvn clean install -pl -:gremlin-python,-gremlin-dotnet,-:gremlin-dotnet-source,-:gremlin-dotnet-tests -q -DskipTests -Dci
          mvn verify -pl :gremlin-javascript,:gremlint -DincludeNeo4j